.add-form{
  width: 430px;
  height: 375px;
	font-size: 16px;
	font-weight: 300;
  padding: 37px 55px;
  display: flex;
  flex-direction: column;  
}

.frame{
  height: 100%;
  width: 430px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px auto;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  border: none;
  border-radius: 10px;
}

.add-form_label_input{
  width: 93%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 7px;
  background:rgba(255,255,255,.2);
  color: #ffffff;
  font-size: 13px;
  padding: 2px 15px;
}

.add-form_button{
  float: left;
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  background-color: #cfe2cfc4;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #0a2b0ac4;
}

.add-form_button:hover {
  cursor: pointer; 
  background-color: #2a3128b0;
  color: #cfe2cfc4;
  transition: all .5s; 
}
.add-form_button:not(:hover) {
  cursor: pointer; 
  background-color: #cfe2cfc4;
  color: #0a2b0ac4;
  transition: all .5s;
}
