.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  font-family: monospace;
  word-wrap:break-word;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal_content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.modal_content.active {
  transform: scale(1);
}


.modal_title{
margin: 0px;
}

.modal_sum{
  border-radius: 3px;
  width: fit-content;
  font-weight: bold;
  margin: 8px 0px;
  
}

.modal_date{
  color: #a7a7a7;
  margin: 5px 0px 0px;
}

.modal_desc{
  border-radius: 3px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.137);
}

.modal_button{
  height: 100%;
  line-height: 30px;
  width: 100%;
  font-family: monospace;
  background-color: rgba(255, 0, 0, 0.712);
	border-radius: 12px;
  color: #cfe2cfc4;
  border: none;
  margin: 7px auto 0px;
}

.modal_button:hover{
  background-color: #e9eef2be;
  color:  rgba(255, 0, 0, 0.712);
  transition: all .3s;
}
